nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 40px;
}

nav ul li a {
  color: rgb(2, 2, 2);
}

body {
  background-color: rgb(45, 53, 53);
}

.headline {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.subHeadline {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.subHeadline1 {
    font-weight: bold;
}

.content {
  color: rgb(255, 254, 254);
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.code {
  color: rgb(104, 236, 86);
  font-size: 20px;
}
